.checkout-title {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}
.checkout-title span {
    position: relative;
    padding: 0 1em;
    background-color: #fff;
    font-family: "moderat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #605F5F;
    z-index: 1;
}
.checkout-title:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #ccc;
    z-index: 0;
}

.cart-button-div{
    top: 50%;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}
.cart-button{
    font-size: larger;
}

[v-cloak] {
    display: none;
}
table{
    border: 1px solid #e9e9e9;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
th, td{
    padding: 8px 16px;
    border: 1px solid #e9e9e9;
    text-align: center;
}
th{
    background: #f7f7f7;
    color: #5c6b77;
    font-weight: 600;
    white-space: nowrap;
}
img{
    width: 150px;
    height: 150px;
}
button{
    background-color: #EE7A23; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.add-reduce{
    background-color: #EE7A23;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.add-reduce-td{
    width: 150px;
}